.todo-list-item {
    font-size: 25px;
  }
  
  .todo-list-item button {
    width: 35px;
    margin: 2px;
    float: right;
    
  }
  
  .todo-list-item-label {
    margin: 40px;
    line-height: 35px;
    cursor: pointer;
    user-select: none;
  }
  
  .todo-list-item.done .todo-list-item-label {
    text-decoration: line-through;
  }
  
  .todo-list-item.important  .todo-list-item.important{
    
    font-weight: bold;
    color: steelblue;
  }

 